:root{
    --White: hsl(0, 0%, 98%);
    --Gray: hsl(0, 0%, 41%);
    --Black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--White);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 32px;
    width: 100%;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 45px;
}

nav .left .logo h2{
    font-size: 32px;
    color: var(--Black);
    cursor: pointer;
}

nav .left-links{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .mobile-menu{
    display: none;
}

.left-links a,nav .right a,.mobile-login{
    color: var(--Gray);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.left-links a:hover,nav .right a:hover{
    color: var(--Black);
}

.mobile-break{
    display: none;
}


nav .right{
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu{
    display: none;
}

.btn{
    padding: 12px 18px;
    color: var(--Gray);
    outline: none;
    border: 1px solid var(--Gray);
    background: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: .1s linear;
}

.btn:hover{
    border: 2px solid var(--Black);
    color: var(--Black);
    font-weight: 700;
}

.hero{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}


.hero .right img{
    width: 400px;
    height: 500px;
}

.right img.mobile{
    display: none;
}

.hero .left{
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    width: 36%;
    position: relative;
}

.left h1{
    font-size: 60px;
    color: var(--Black);
}

.left p{
    color: var(--Gray);
    font-size: 15px;
    margin-top: 45px;
    line-height: 1.5;
}

.left button{
    outline: none;
    border: 2px solid var(--Black);
    color: var(--White);
    background: var(--Black);
    padding: 16px 27px;
    width: fit-content;
    margin-top: 40px;
    border-radius: 11px;
    cursor: pointer;
    transition: .2s linear;
}

.left button:hover{
    background-color: transparent;
    color: var(--Black);
    font-weight: 700;
}

.hero .bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 25px;
}

.bottom-section img{
    width: 80px;
    cursor: pointer;
}

.small-image{
    width: 90px!important;
}

.big-image{
    width: 65px!important;
}

.hero .right{
    width: 40%;
}

a.dropdown{
    position: relative;
    transition: .2s linear;
}

.dropdown .dropdown-list{
    display: flex;
    position: absolute;
    top: 35px;
    flex-direction: column;
    gap: 12px;
    padding: 20px 20px;
    background-color: white;
    align-items: flex-start;
    width: max-content;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px hsl(0deg 0% 86.61%);
    display: none;
}

.dropdown-list li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-list li img{
    margin-right: 10px;
}

.dropdown .hover{
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0;
}

@media screen and (max-height:565px) {
    .hero{
        padding-bottom:50px ;
    }
    .hero .left{
        padding: 40px 0;
    }
}

@media screen and (max-width:900px) {
    .hero .right img{
        width: 360;
        height: 450px;
    }
}

@media screen and (max-width:750px) {
    .hero .left{
        width: 53%;
    }

    .hero .left p{
        margin-top: 25px;
    }

    .hero .left button{
        margin-top: 25px;
    }

    .hero .right img{
        width: 320px;
        height: 400px;
    }
}

@media screen and (max-width:550px) {
    .hero{
        flex-direction: column-reverse;
        width: 100%;
    }

    .right img.desktop{
        display: none;
    }

    .right img.mobile{
        display: block;
    }

    .hero .left,.hero .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .left-links{
        display: none;
    }

    nav .right{
        display: none;
    }

    .hero .right img{
        width:100%;
        height: auto;
    }

    .hero .left{
        padding:35px 20px;
    }

    .hero .left h1{
        font-size: 30px;
    }

    .hero .left p,.hero .left button{
        text-align: center;
        margin-top: 20px;
    }

    .hero .left button{
        padding: 12px 23px;
    }

    .left .bottom-section{
        width: 95%;
        justify-content: space-between;
        position: relative;
        margin-top: 35px;
        overflow: auto;
    }

    .menu{
        display: block;
    }

    .mobile-menu.show{
        display: flex;
    }

    .mobile-menu{
        padding-inline: 30px;
        position: absolute;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--White);
        top: 0;
        right: 0;
        z-index: 10;
        padding-top: 80px;
    }

    .mobile-menu .left-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-menu .right{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .mobile-menu .right .mobile-register{
        width: 100%;
    }

    .mobile-menu .close{
        position: absolute;
        top: 30px;
        right: 40px;
    }

    .mobile-menu .dropdown-list{
        position: relative;
        box-shadow: none;
    }

    .dropdown .hover{
        display: none;
    }

    .mobile-break{
        display: block;
    }

    .mobile-dropdown .header{
        width: 100%;
        display: flex;
        gap: 7px;
    }

    .mobile-dropdown .dropdown-list{
        display: none;
        flex-direction: column;
        gap: 15px;
        margin: 20px 0;
        margin-left: 30px;
    }

    .dropdown-list li{
        font-size: 14px;
        color: var(--Gray);
    }

    .dropdown-list.show{
        display: flex;
    }
}